<section id="content" class="terminal-section active terminal-output">
 
  <h2>Quién Soy</h2>
  <p>
    Me llamo André y soy estudiante de Ingeniería Telemática en la Universidad Politécnica de Cartagena.
    Desde pequeño, la tecnología ha sido mi gran pasión: desmontaba todo lo que encontraba, desde vehículos hasta placas base de altavoces, con la curiosidad de entender cómo funcionaban. 
    Esa inquietud me llevó a sumergirme de lleno en este mundo y convertirlo en mi camino profesional como ingeniero.
  </p>
  <p>
    Siempre estoy buscando nuevas formas de hacer las cosas, mejorar procesos o incluso crear soluciones desde cero. 
    Esta mentalidad me ha llevado a desarrollar varios proyectos personales, algunos de los cuales menciono en la sección correspondiente, 
    que han sido clave para mi crecimiento tanto personal como profesional.
  </p>
  <div class="cursor-blink"></div>
</section>
