<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andrew Portfolio</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- Añade esta línea -->
    <link rel="icon" type="image/x-icon" href="/static/icon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=VT323&family=Space+Mono:wght@400;700&display=swap"
    />
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="terminal-header">
          <div class="terminal-buttons">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="terminal-title">andrewyernau@portfolio:~</div>
        </div>
        <nav>
          <ul>
            <li>
              <a
                href="#"
                hx-get="/userinfo"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-trigger="click"
                >inicio</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/aboutme"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-trigger="click"
                >whoami</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/profession"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-trigger="click"
                >education</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/projects"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-trigger="click"
                >ls proyectos</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/misc"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-trigger="click"
                >misc</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <main>{% block content %}{% endblock %}</main>
      <footer>
        <div class="terminal-prompt">
          <span class="prompt-user">andrewyernau@portfolio:~$</span>
          <span class="typing"> echo "© $(date +%Y) - Hecho con Rust y ♥"</span>
        </div>
        <section id="intro" class="terminal-section active">
          <div class="content terminal-output">
            <p>
              ©
              <span
                id="current-year"
                hx-get="/year"
                hx-trigger="load"
                hx-swap="innerHTML"
              ></span>
              - Hecho con Rust y HTMX
            </p>
            <p>
              "The best way to predict the future is to create it." - Alan Kay
            </p>
          </div>
        </section>
      </footer>
    </div>
  </body>
</html>
