<section id="content" class="terminal-section active terminal-output">
  <h2>Misceláneo</h2>
  <div class="misc-items">
    <div class="misc-item">
      <h3>Hobbies</h3>
      <p>
        Mi personalidad curiosa y polifacética me ha llevado a desarrollar una
        amplia variedad de hobbies. Soy pianista profesional, practico ejercicio
        con regularidad y disfruto del senderismo. Me apasionan los juegos de
        mesa como el ajedrez, los videojuegos y la lectura.
      </p>
    </div>

    <div class="misc-item">
      <h3>Algunos de mis libros favoritos</h3>
      <ul>
        <li><strong>Elantris</strong> - Brandon Sanderson</li>
        <li><strong>1984</strong> - George Orwell</li>
        <li><strong>El nombre del viento</strong> - Patrick Rothfuss</li>
        <li><strong>Céntrate</strong> - Cal Newport</li>
        <li><strong>El arte de la guerra</strong> - Sun Tzu</li>
        <li><strong>El código Da Vinci</strong> - Dan Brown</li>
        <li><strong>Sistemas y señales</strong> - Alan V. Oppenheim</li>
      </ul>
    </div>

    <div class="misc-item">
        <h3>Idiomas</h3>
        <p>
          Soy bilingüe en español e inglés, y tengo un nivel intermedio de francés
          y un nivel principiante de chino. Además, hablo ruso a nivel nativo.
        </p>
      </div>
    </div>

    <br>
    <div class="misc-item">
      <h3>Contacto</h3>
      <p>Puedes encontrarme en:</p>
      <ul class="contact-links">
        <li>
          <a href="https://github.com/tu-usuario" target="_blank">GitHub</a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/andr%C3%A9-yermak-naumenko-b8489a21a/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="mailto:andrewyernau@andrewyernau.info" target="_blank"
            >Email</a
          >
        </li>
      </ul>
    </div>

    <div class="misc-item image-gallery">
        <h3>Galería de imágenes</h3>
        <div class="gallery-container">
            <button id="prev-image" class="gallery-nav-btn">&lt;</button>
            <div class="image-container">
                <img id="gallery-current-image" src="/images/placeholder.jpg" alt="Imagen de galería">
                <p id="image-caption">Cargando imágenes...</p>
            </div>
            <button id="next-image" class="gallery-nav-btn">&gt;</button>
        </div>
    </div>
    
    
  <br />
  <div class="cursor-blink"></div>
</section>
