<section id="content" class="terminal-section active terminal-output">
  <h2>Proyectos</h2>
  <p>Algunos de mis proyectos son los siguientes:</p>
  <div class="projects-grid">
    <div class="project-card">
      <h3 class="project-title">andrewyernau.info</h3>
      <p class="project-description">Este portfolio con el fin de mostrar mis habilidades con Rust, HTMX y el despliegue web con Docker y Nginx</p>
      <div class="project-tags">
        <span class="tag">HTMX</span>
        <span class="tag">CSS</span>
        <span class="tag">Rust</span>
        <span class="tag">Docker</span>
        <span class="tag">Nginx</span>
      </div>
      <a href="" class="project-link" target="_blank">Ver proyecto</a>
    </div>

    <div class="project-card">
      <h3 class="project-title">ezplace.net</h3>
      <p class="project-description">
        Ezplace es una game network y despliegue web basado en React y Deno como framework.
      </p>
      <p class="project-description">
        La idea del proyecto era demostrar la utilidad del self-hosting ya que este proyecto está gestionado por mí de raíz.
      </p>
      <div class="project-tags">
        <span class="tag">React</span>
        <span class="tag">Docker</span>
        <span class="tag">Self-host</span>
        <span class="tag">API</span>
        <span class="tag">SQL</span>
      </div>
      <a href="https://ezplace.net" class="project-link" target="_blank">Ver proyecto</a>
    </div>

    <div class="project-card">
      <h3 class="project-title">JavaPlugins</h3>
      <p class="project-description">
        He creado una variedad de JavaPlugins para los servidores, con ellos he aprendido a mantener una sincronización de datos para más de 100 personas simultáneamente de forma extremadamente eficiente con el uso de Cache, batches y SQL.
        Por otro lado he aprendido a crear sistemas de comunicaciones en grupo como concepto de sistema distribuido (no se explicarme muy bien aquí pero basicamente la idea es una comunicacion global de todos los usuarios y de forma paralela una comunicación multicast de usuarios que pertenezcan a un grupo específico).
      </p>
      <div class="project-tags">
        <span class="tag">Java</span>
        <span class="tag">Cache</span>
        <span class="tag">SQL</span>
        <span class="tag">Sync</span>
        <span class="tag">SQL</span>
      </div>
      <a href="https://ezplace.net" class="project-link" target="_blank">Ver proyecto</a>
    </div>

    <div class="project-card">
      <h3 class="project-title">ZedBoard y PIC16F876A</h3>
      <p class="project-description">
        Un proyecto de aprendizaje de VHDL y FPGA, en el que gestiono señales de entrada y salida como de volumen, VGA... de una placa ZedBoard y su implementación.
      </p>

      <p class="project-description">
        Por otro lado, he ido realizando proyectos de aprendizaje con PIC16F876A, un microcontrolador de 16 bits, en el que he aprendido a gestionar señales de entrada y salida, interrupciones, timers, PWM, comunicación analógica...
      </p>
      <div class="project-tags">
        <span class="tag">VHDL</span>
        <span class="tag">FPGA</span>
        <span class="tag">assembly</span>
      </div>
      <a href="https://ezplace.net" class="project-link" target="_blank">Ver proyecto ZedBoard</a>
      <a href="https://github.com/andrewyernau/assembly_exercises" class="project-link" target="_blank">Ver proyecto PIC16F876A</a>
    </div>
  </div>
</section>