{% extends "base.html" %}
{% block title %}Proyectos | Portfolio{% endblock %}
{% block content %}
  <section id="projects">
    <h2>Proyectos Destacados</h2>
    <section class="featured-projects-section" id="featured-projects">
      <div class="project-highlight-card">
        <h2 class="ph-card-title">andrewyernau.info</h2>
        <p class="ph-card-subtitle">
          Este portfolio sirve como escaparate de mis conocimientos
          en Rust, HTMX y despliegue web.
        </p>
        <p class="ph-card-description">
          Está containerizado con Docker y se ejecuta en un servidor
          propio con Nginx, lo que me ha permitido experimentar con
          autoalojamiento y optimización de rendimiento.
        </p>
      </div>
    
      <div class="project-highlight-card">
        <h2 class="ph-card-title">ezplace.net</h2>
        <p class="ph-card-subtitle">
          Ezplace es una game network y plataforma web que desarrollé
           utilizando HTMX y Rust como modelo de server-side rendering,
            con un fuerte enfoque en demostrar la viabilidad del self-hosting.
          </p>
        <p class="ph-card-description">
          Gestiono personalmente toda la infraestructura subyacente,
           desde la configuración del servidor hasta la API y las bases
            de datos SQL, todo ello orquestado con Docker para facilitar
             el despliegue y mantenimiento.
            </p>
      </div>
    
      <div class="project-highlight-card">
        <h2 class="ph-card-title">JavaPlugins</h2>
        <p class="ph-card-subtitle">
          He dedicado tiempo al desarrollo de plugins en Java para servidores
           de juegos, optimizados específicamente para la sincronización de datos
            en tiempo real.
          </p>
        <p class="ph-card-description">
          Para ello, implementé técnicas avanzadas como caché, batch processing
           y consultas eficientes a bases de datos SQL, además de un sistema de
            comunicación distribuida para interacciones globales y multicast.
          </p>
      </div>
    
      <div class="project-highlight-card">
        <h2 class="ph-card-title">ZedBoard y PIC16F876A</h2>
        <p class="ph-card-subtitle">
          Mi curiosidad por el hardware me ha llevado a experimentar con VHDL 
          en una FPGA ZedBoard, donde he trabajado en la gestión y procesamiento 
          de señales de vídeo VGA y audio.
        </p>
        <p class="ph-card-description">
          Paralelamente, he desarrollado proyectos con el microcontrolador 
          PIC16F876A programando directamente en ensamblador, lo que me ha 
          proporcionado una comprensión profunda de la arquitectura de microcontroladores.
        </p>
      </div>
    
      <div class="project-highlight-card">
        <h2 class="ph-card-title">IMDB Alternative</h2>
        <p class="ph-card-subtitle">
          En un proyecto colaborativo, creamos una plataforma 
          alternativa a IMDB, enfocada en ofrecer un sistema de recomendación de 
          películas personalizado.
        </p>
        <p class="ph-card-description">
          Utilizamos algoritmos de machine learning y análisis de similitud entre 
          usuarios implementados en MATLAB, con una base de datos SQL y una interfaz 
          web desarrollada en HTML5.
        </p>
      </div>
    </section>
  </section>
{% endblock %}