{% extends "base.html" %}
{% block title %}User Info | Portfolio{% endblock %}
{% block content %}
  <section id="userinfo">
    <h2>Información de contacto</h2>
    <p>
      Para contactar conmigo, puede ser a través de los siguientes medios:
    </p>
    <ul>
      <li><strong>Linkedin:</strong><a 
        href="https://www.linkedin.com/in/andr%C3%A9-yermak-naumenko-b8489a21a/" 
        target="_blank">
        André Yermak Naumenko
      </a></li>
      <li><strong>Email:</strong> contact@andrewyernau.info</li>
    </ul>
    <br>
    <h2>Información adicional</h2>
    <p>
      Si desea ver más información sobre mí, como mi currículum o proyectos 
      específicos, puede visitar mi perfil de GitHub:
    </p>
    <ul>
      <li><strong>GitHub:</strong> <a 
        href="https://github.com/andrewyernau" target="_blank">andrewyernau
      </a>
      </li>
    </ul>
  </section>
{% endblock %}