<section id="content" class="terminal-section active terminal-output">
  <div class="terminal-output">
    <h1>andrewyernau.info</h1>
    <p>
      ¡Bienvenido a mi portfolio! Aquí encontrarás información sobre quién soy, 
      a qué me dedico y otros detalles que pueden interesarte.
    </p>
    <p>El contenido está organizado en las siguientes secciones:</p>
    
    <div class="subtitle">
      <ul>
        <li> <a
          href="#"
          hx-get="/aboutme"
          hx-target="#content"
          hx-swap="innerHTML"
          hx-trigger="click"
          >whoami</a> – Un poco sobre mí.</li>
        <li> <a
          href="#"
          hx-get="/profession"
          hx-target="#content"
          hx-swap="innerHTML"
          hx-trigger="click"
          >job</a> – Experiencia y proyectos.</li>
        <li> <a
          href="#"
          hx-get="/projects"
          hx-target="#content"
          hx-swap="innerHTML"
          hx-trigger="click"
          >proyectos</a> – Mis trabajos destacados.</li>
        <li> <a
          href="#"
          hx-get="/misc"
          hx-target="#content"
          hx-swap="innerHTML"
          hx-trigger="click"
          >misc</a> – Cosas varias que pueden interesarte.</li>
      </ul>
    </div>

    <p>
      Explora cada sección para conocer más. Puedes empezar haciendo clic en cualquiera de los enlaces de arriba.  
    </p>
    
    <div class="cursor-blink"></div>
  </div>
</section>
